h1 {
  font-family: Lato Medium;
  font-weight: Bold;
  text-align: center;
}

#title { 
  font-family: Lato Light;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}
.container {
  background-color: white;
  margin: 0px auto;
  padding: 0px;
  max-width: 700px;
}
.row {
  margin: 2px 0px;
  padding: 5px;
  line-height: 50px;
}
.logo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 3px solid white;
}

.offline {
  background-color: rgb(137, 116, 255);
}

.online {
  background-color: rgb(137, 255, 150);
}
.DNE {
  background-color: rgb(255, 57, 72);
}